*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/********************/
/*      COMMON      */
/********************/

.content {
  min-width: 1140px;
  max-height: 534px;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 34px;
  cursor: pointer;
}

/********************/
/*      RESULT      */
/********************/

.result {
  min-width: 711px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  cursor: pointer;
}

.search-form__label:focus {
  border: none;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  min-width: 225px;
  border: 1px solid transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

}

.search-form__textfield:focus {
  border: none;
  outline: none;
}

.search-form__textfield:focus-visible {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

input[type='checkbox']:checked + span {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox:active {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-width: 194px;
  margin-top: 20px;
}

.search-form__submit-button:focus-visible {
  border: 1px solid #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
}

/*****************************/
/*      CONTENT DETAILS      */
/*****************************/

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 534px;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-height: 298px;
  overflow: auto;
  position: relative;
}

.content__list::-webkit-scrollbar {
  width: 5px;
}

.content__list::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

.content__list::-webkit-scrollbar-track {
  background: transparent;
}

.content__list-item {
  margin-bottom: 30px;
  border: 1px solid transparent;
}


.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content__list-item:has(:focus-visible) {
  border: 1px solid #fff;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
  border: 1px solid #545050;
}

.content__video-card-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 97%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.more-button:focus-visible {
  border: 1px solid #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
}
